# USB cihazı takıldığında otomatik güncelleme servisini çalıştır
# Bu dosya /etc/udev/rules.d/ dizinine kopyalanmalı

# USB block device eklendiğinde (hem disk hem partition)
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]*", RUN+="/bin/systemctl start usb-update.service"

# USB storage device eklendiğinde
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb-storage", RUN+="/bin/systemctl start usb-update.service"

