# USB cihazı takıldığında otomatik güncelleme servisini çalıştır
# Bu dosya /etc/udev/rules.d/ dizinine kopyalanmalı

# USB cihazları için (genel)
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]*", RUN+="/bin/systemctl start usb-update.service"

# USB flash diskler için
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb-storage", RUN+="/bin/systemctl start usb-update.service"

