[Unit]
Description=USB Otomatik Güncelleme Servisi
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/bms/Desktop/Monitoring_Raspberry/usb_updater.py
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=multi-user.target

